<div class="row">

    <div id="searchDiv">
        <label for="searchInput">Search projects or technologies: </label>
        <input id="searchInput" type="search" ng-model="query" class="black-text">
    </div>

</div>

<div class="row info-row">

    <div class="col-md-2 col-xs-6 col-xs-offset-3 project-thumb slide hvr-grow-shadow"
         ng-repeat="project in $ctrl.projects | filter:query"
         ng-click="$ctrl.showOverlay(project)">

        <div class="thumbnail">
            <a class="thumb">
                <img ng-src="{{project.imageURL}}" alt="{{project.name}}" height="100%" width="100%">
            </a>
        </div>

        <p><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> {{project.name}}</p>
        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{project.company}}
        </p>

        <p>
            <a class="anchor-tag" ng-repeat="tag in project.tags"><span
                    class="label label-default">{{tag}}</span> </a>
        </p>

    </div>

</div>

<div id="overlay" ng-show="$ctrl.overlayShow" ng-click="$ctrl.hideOverlay($event)" ng-init="$ctrl.overlayShow=false">

    <div class="container-fluid headline col-md-6 col-md-offset-3" id="overlayContainer">

        <a ng-click="$ctrl.hideOverlay($event)" class="right-float"><i class="fa fa-times fa-2x" aria-hidden="true"
                                                                 id="overlayCross"></i></a>

        <div class="row" ng-init="$ctrl.overlayProject={}">

            <div class="col-md-7">
                <h3>
                    <b class="overlay-title">Name </b><span
                        class="overlay-content">{{ $ctrl.overlayProject.name }}</span>
                </h3>
            </div>

            <div class="col-md-4">
                <h3>
                    <b class="overlay-title">Team Size </b><span class="overlay-content">
                            <i class="fa fa-user overlay-content" aria-hidden="true"
                               ng-repeat="member in $ctrl.getNumber($ctrl.overlayProject.teamSize) track by $index"></i>
                                </span>
                </h3>
            </div>

            <div class="col-md-12">
                <h3>
                    <b class="overlay-title">Establishment </b><span
                        class="overlay-content">{{ $ctrl.overlayProject.company}}</span>
                </h3>
            </div>

            <div class="col-md-12">
                <h3>
                    <b class="overlay-title">Date </b>
                    <span class="overlay-content">{{ $ctrl.overlayProject.startDate }} - {{ $ctrl.overlayProject.endDate }}</span>
                </h3>
            </div>

        </div>

        <div class="row" style="padding-top: 5vh">

            <p style="text-align: justify">{{ $ctrl.overlayProject.description }}</p>
        </div>

        <div class="row" style="padding-top: 5vh">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        data-ng-src="{{ $ctrl.overlayProject.link | trusted }}"></iframe>
            </div>

        </div>

        <div class="row" style="padding-top: 5vh">

            <p><b>Skills used </b>
                <a class="anchor-tag" ng-repeat="tag in $ctrl.overlayProject.tags"><span
                        class="label label-default">{{tag}}</span> </a>
            </p>

        </div>

    </div>

</div>